.header{
    background-color: rgb(28, 142, 255) !important;
    background: rgb(28, 142, 255) !important;
    color:rgb(28, 142, 255) !important;
}
nav {
    background: rgb(28, 142, 255) !important;
    background-color: rgb(28, 142, 255) !important;
    color:rgb(28, 142, 255) !important;
}
nav.navbar {
    background: rgb(28, 142, 255) !important;
    background-color: rgb(28, 142, 255) !important;
    color:rgb(28, 142, 255) !important;
}
.navbar{
    background: rgb(28, 142, 255) !important;
    background-color: rgb(28, 142, 255) !important;
    color:rgb(28, 142, 255) !important;
}
.navbar-light{
    background: rgb(28, 142, 255) !important;
    background-color: rgb(28, 142, 255) !important;
    color:rgb(28, 142, 255) !important;
}